:root {
  --white: #fff;
  /* delikatny biały jako główne tło */
  --black: #111111;
  /* lekko złagodzony czarny dla lepszej czytelności */
  --burgundy: #800020;
  /* bordowy */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color: var(--burgundy);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--burgundy);
}

.main-layout {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 4em;
}

.spinner::after {
  content: 'Ładowanie...';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--thm-gray);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.preloader {
  position: fixed;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9991;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (min-width: 768px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}