.nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    border-bottom: 1px solid var(--navy);
}

.scrolled {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

.logo {
    height: 80px;
    width: auto;
    transform: rotate(90deg);
    margin: 0;
}

.links {
    display: flex;
    gap: 1rem;
    will-change: transform, opacity;
    margin-left: 10%;
    margin-right: 10%;
}

.links a {
    color: var(--white);
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 0.25rem;
}

.links a:hover {
    color: var(--navy);
}

.active {
    color: var(--navy);
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--navy);
    border-radius: 1px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    gap: 6px;
    cursor: pointer;
    margin-left: auto;
    z-index: 1000;
}

.hamburger span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--white);
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* ===== MOBILE MENU ===== */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-right: 5%;
        margin-left: 10%;
    }

    .links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--black);
        gap: 1rem;
        padding: 0;
        margin: 0;

        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .menuOpen {
        transform: scaleY(1);
        opacity: 1;
        padding: 1rem 0;
        pointer-events: auto;
    }
}