.shows {
    padding: 2rem 1rem;
    background-color: var(--white);
    text-align: center;
}

.shows h1 {
    font-size: 2.5rem;
    color: var(--navy);
    font-family: var(--font-heading);
    margin-bottom: 1rem;
    margin-top: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.grid h3 {
    font-size: 1.5rem;
    color: var(--navy);
    font-family: var(--font-heading);
    margin-block-end: 0;
}