.wrapper {
    padding: 3rem 2rem;
    text-align: center;
    background: linear-gradient(180deg, #003366 0%, #002244 100%);
    text-align: center;
}

.container {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 8px;
    display: inline-block;
    max-width: 600px;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--black);
}